*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    display: flex;
    justify-content: center;
    margin: 1rem 3rem 0 3rem;
}

.empty-container {
    flex-grow: 1;
}

.left-section {
    list-style: none;
    display: flex;
    color: #0C3466;
    font-weight: bold;
}

.left-section li {
    margin: 1rem;
}

.left-section li a {
    text-decoration: none;
    color: inherit;
}

.right-section {
    list-style: none;
    display: flex;
    color: #0C3466;
    font-weight: bold;
}

.right-section li {
    margin: 1rem;
}

.right-section li a {
    text-decoration: none;
    color: inherit;
}

.right-section .contact-us {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-wrap: nowrap;
}

.right-section .login {
    display: flex;
    align-items: center;
    justify-content: center;
}

.right-section .login .login-text {
    font-size: larger;
}

.right-section .btn-nav {
    padding : 8px 24px 8px 24px;
    background-color: #2E844A;
    border: 0;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    font-size: larger;
    text-wrap: nowrap;
}

@media only screen and (max-width : 1300px){

    .res-class {
        display: none;
    }

}

.after-nav {
    width: 100%;
    background-color: #032D60;
    display: flex;
    column-gap: 20px;;
    justify-content: center;
    align-items: center;
    font-family : "ITC Avant Garde",system-ui,-apple-system,blinkmacsystemfont,"Segoe UI",roboto,"Helvetica Neue",arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    font-weight: 700;
}

.after-nav-text {
    color: white;
    margin: 13px 0px 13px 0px;
}
