.container {
    background-color: aquamarine;
}

.box {
    background-color: blue;
    height: 250px;
    width: 250px;
    position: relative;
    animation-name: animation1;
    /* animation-name: animation2; */
    animation-duration: 2s;
    animation-iteration-count: 1;
    /* animation-fill-mode: forwards; Ends animation with last keyframe property */ 
    /* animation-fill-mode: backwards; Ends animation with first keyframe property */
    /* animation-timing-function: ease-in; Starts animation slowly and ends fastly */
    /* animation-timing-function: ease-out; Starts animation fastly and ends slowly */
    /* animation-timing-function: ease-in-out; Starts and ends slowly */
    /* animation-delay: 3s; Delays animation starting for 3s */
    /* animation-direction:alternate; Goes forward */
    /* animation-direction: reverse; Goes reverse */

    /*Shorthand for animation*/
    /* animation : animation-name animation-duration animation-timing-function animation-delay animation-iteration-count animation-fill-mode */
    /* animation: animation1 2s ease-in 1s 3 backwards; */



}

@keyframes animation1 {
    from {
        width: 200px;
    }

    to {
        width: 1400px;
    }
}

@keyframes animation2 {
    0% {
        top : 0px;
        left : 0px;
    }

    25% {
        top : 500px;
        left : 0px;
    }

    50% {
        top: 500px;
        left : 500px;
    }

    75% {
        top : 0px;
        left : 500px;
    }

    100% {
        top: 0px;
        left: 0px;
    }
}